name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:

    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: '14.21.3'
    - run: npm install
    - run: npm run build
    - run: pm2 remove -f typeorm-oracle-test
      continue-on-error: true
    - run: echo '${{secrets.ORMCONFIG}}' ormconfig.json > 
    - run: pm2 start dist/server.js --name typeorm-oracle-test